.Title{
    height:75px;
    width:300px;
    border: 1px solid black;
    padding:10px;
    font-size: x-large;
    color:black;
}

.Tasks{
    height:250px;
    width:300px;
    overflow-y: auto;
    border: 1px solid black;
}

.IconView{
    height:75px;
    width:300px;
    border: 1px solid black;
    padding: 10px;
}

.Stage{
    /* border: 5px solid black; */
    /* box-shadow: 0 2px 3px black; */
    box-sizing: border-box;
    width:300px;
    height:450px;
    margin:20px,10px;
    margin-right: 10px;
}

.Button{
    background-color: #282c34;
    color: aliceblue;
    margin:2px;
    width:30%;
    border-color: azure;
}

.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background:rgba(0, 0 , 0, 0.9);
    z-index: 2;
}

.content-container{
    width: 500px;
    height: 200px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-container > div {
    margin-top: 15px;
}