
@import '~antd/dist/antd.css';

.site-card-wrapper {
background:white;
padding: 20px;
width: 100%;
}
[data-theme="light"] .site-card-wrapper {
background: #080000;
}

.BackBtn{
    position:fixed;
    width: 75px;
    height: 30px;
    left: 36px;
    top: 36px; 
    border-radius: 2px;
    background-color:aliceblue ;
    color :#282c34;
    /* font-size: 20px; */
}

.Input{
    height: 25px;
    width: 150px;
    margin:5px;
    margin-left: 50px;
}

.DropDown{
    height:25px;
    width:160px;
    color: black;
    background-color: white;
}

.Button{
    height:25px;
    width:750px;
    background-color: #282c34;
    color: aliceblue;
}

/* .site-card-wrapper {
    background: #ececec;
    padding: 30px;
  } */